.addFilmContainer {
  background-color: var(--Black10);
  color: var(--White);
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  margin: 0 auto;
}

.addFilmTitle {
  text-align: center;
  color: var(--White);
}

.addFilmForm {
  display: flex;
  flex-direction: column;
}

.inputGroup {
  margin-bottom: 15px;
}

.inputGroup label {
  font-weight: bold;
  color: var(--White);
}

.inputGroup input,
.inputGroup textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--Grey60);
  background-color: var(--Black08);
  color: var(--White);
  width: 100%;
}

.inputGroup textarea {
  resize: vertical;
  height: 100px;
}

.errorMessage {
  color: var(--Red50);
  text-align: center;
}

.buttonGroup {
  text-align: center;
}

.buttonGroup button {
  background-color: var(--Red50);
  color: var(--White);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.buttonGroup button:disabled {
  background-color: var(--Grey60);
  cursor: not-allowed;
}

.buttonGroup button:hover {
  background-color: var(--Red45);
}
