.coverContainer {
  position: relative;
  width: 100%;
  max-height: 835px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 100px;
}

.preview {
  width: 100%;
  height: 835px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video {
  width: 100%;
  height: 835px;
  object-fit: cover;
}

.textContainer {
  position: absolute;
  bottom: 110px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 80%;
}

.title {
  color: var(--White);
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 4px;
}

.description {
  color: var(--Grey60);
  font-size: 18px;
  font-weight: 400;
}

.buttonContainer {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 10px;
}

.buttonContainer button:nth-child(1) {
  max-width: 157px;
  width: 100%;
  height: 56px;
  border-radius: 8px;
  background-color: var(--Red45);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border: none;
  cursor: pointer;
}

.buttonContainer button:nth-child(1) img {
  width: 20px;
  height: 20px;
}

.buttonContainer button:nth-last-child(-n + 3) {
  width: 56px;
  height: 56px;
  background-color: var(--Black06);
  border: 1px solid var(--Black15);
  color: var(--White);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
}

.buttonContainer button:nth-child(2) {
  font-size: 28px;
  width: 56px;
  height: 56px;
}

.span {
  font-weight: 600;
  font-size: 18px;
  line-height: 153%;
  color: var(--White);
}
