.top {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 80px;
}

.title {
  color: var(--White);
  font-size: 38px;
  font-weight: 800;
  line-height: 150%;
  margin-bottom: 14px;
}

.desc {
  color: var(--Grey60);
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

.buttonContainer {
  width: 237px;
  height: 75px;
  border: 1px solid;
  border-radius: 10px;
  border-color: var(--Black15);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.btn {
  color: var(--White);
  font-size: 18px;
  font-weight: 500;
  width: 118px;
  height: 55px;
  border-radius: 10px;
  background: transparent;
  transition: 0.3s;
}

.btn:hover,
.active {
  background-color: var(--Black12);
}

/* Прайсы */
.items {
  display: flex;
  gap: 30px;
  width: 100%;
  margin-bottom: 150px;
}

.item {
  max-width: 512px;
  width: 100%;
  height: 425px;
  border-radius: 12px;
  border: 1px solid;
  border-color: var(--Black15);
  background-color: var(--Black10);
  transition: 0.3s;
}

.item:hover {
  transform: scale(1.05);
}

.content {
  max-width: 412px;
  margin: 0 auto;
}

.content h2 {
  margin-top: 50px;
  color: var(--White);
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 16px;
}

.content p {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--Grey60);
  margin-bottom: 50px;
}

.content data {
  color: var(--White);
  font-size: 40px;
  font-weight: 600;
  line-height: 73%;
}

.content data span {
  color: var(--Grey60);
  font-weight: 500;
  font-size: 18px;
  line-height: 73%;
}

.buttons {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons button {
  width: 196px;
  height: 63px;
  border-radius: 8px;
  border: 1px solid;
  border-color: var(--Black15);
  color: var(--White);
  font-size: 18px;
  font-weight: 600;
}

.buttons button:nth-child(1) {
  background-color: var(--Black08);
}

.buttons button:nth-child(2) {
  background-color: var(--Red45);
}
