/* баннер */
.bunner {
  width: 100%;
  background-image: url(/img/bunner.png);
  height: 313px;
  margin-bottom: 150px;
}
.content {
  max-width: 1440px;
  height: 100%;
  margin: 9 auto;
  align-items: center;
  justify-content: space-between;
  display: flex;
}
.content h2 {
  color: var(--White);
  font-size: 48px;
  font-weight: 700;
}
.content p {
  color: var(--Grey60);
  font-size: 18px;
  font-weight: 400;
}
.content button span {
  color: var(--White);
  font-weight: 600;
  font-size: 18px;
}
.content button {
  background-color: var(--Red45);
  border-radius: 8px;
  width: 188px;
  height: 63px;
}
/* футер */
.footer {
  background-color: var(--Black06);
  width: 100%;
  height: 505px;
}
.top {
  display: grid;
  grid-template-columns: repeat(6, 241px);
  gap: 30px;
}
.top ul {
  margin-top: 100px;
}
.footer nav {
  margin-top: 100px;
  padding-bottom: 100px;
  border-bottom: 1px solid;
  border-color: var(--Black15);
}
.title {
  color: var(--White);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 24px;
}
.asside {
  color: var(--Grey60);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 14px;
}
.asside:last-child {
  margin-bottom: 0;
}
.buttonContainer {
  display: flex;
  align-items: center;
  gap: 14px;
}
.buttonContainer button {
  width: 56px;
  height: 56px;
  background-color: var(--Black10);
  border: 1px solid;
  border-color: var(--Black15);
}
.desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--Grey60);
  font-size: 18px;
  font-weight: 400;
  margin-top: 24px;
}
.desc div {
  display: flex;
}
.desc p {
  padding-left: 20px;
  padding-right: 20px;
  border-left: 1px solid var(--Black15);
}
.desc p:nth-child(1) {
  border: none;
  padding-left: 0;
}
.desc p:last-child {
  padding-right: 0;
}
