.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
  position: relative;
}
.title {
  color: var(--White);
  font-size: 38px;
  font-weight: 800;
  line-height: 150%;
  margin-bottom: 14px;
}
.desc {
  color: var(--Grey60);
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}
.controls {
  width: 257px;
  height: 88px;
  border-radius: 12px;
  background-color: var(--Black06);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid;
  border-color: var(--Black12);
}
.btn {
  width: 56px;
  height: 56px;
  border-radius: 8px;
  background-color: var(--Black10);
  border: 1px solid;
  border-color: var(--Black12);
}
.indicators {
  display: flex;
  align-items: center;
  gap: 3px;
}
.indicator {
  border-radius: 100px;
  background-color: var(--Black20);
  width: 16px;
  height: 4px;
  transition: 0.3s;
}
.indicator.active {
  width: 23px;
  background-color: var(--Red45);
}
.content {
  display: flex;
  gap: 20px;
}
.item {
  max-width: 283px;
  width: 100%;
  height: 377px;
  border-radius: 12px;
  background-color: var(--Black10);
  border: 1px solid var(--Black15);
  transition: 0.3s;
}
.item:hover {
  transform: scale(1.07);
}
.item:hover .time p {
  color: red;
}
.item:hover .views p {
  color: var(--Red45);
}
.itemContainer {
  max-width: 243px;
  margin: 20px auto;
}
.itemContainer img {
  width: 100%;
  border-radius: 12px;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.time {
  width: 108px;
}
.views {
  width: 64px;
}
.time,
.views {
  height: 36px;
  background-color: var(--Black08);
  border: 1px solid var(--Black15);
  border-radius: 51px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.time p,
.views p {
  color: var(--Grey60);
  font-weight: 500;
  font-size: 16px;
}
.views img,
.time img {
  width: 24px;
  height: 24px;
  border-radius: 0;
}
